uart:
  id: ld2410_uart
  tx_pin: ${tx_pin}
  rx_pin: ${rx_pin}
  baud_rate: 256000
  parity: NONE
  stop_bits: 1

ld2410:
  uart_id: ld2410_uart
  id: ld2410_comp

globals:
  - id: occupancy_timeout_value
    type: int
    restore_value: True
    initial_value: "0"
select:
  - platform: ld2410
    distance_resolution:
      name: distance resolution
    baud_rate:
      name: baud rate
    light_function:
      name: light function
    out_pin_level:
      name: out pin level

button:
  - platform: ld2410
    factory_reset:
      name: "factory reset"
      disabled_by_default: True
    restart:
      name: "restart"
    query_params:
      name: query params

  - platform: restart
    name: "Restart ESP32"

  - platform: template
    name: "Manual Clear"
    on_press:
      then:
        script.execute: "manual_clear"
{% set num_zones = 9 %}
number:
  - platform: ld2410
    timeout:
      name: timeout
      mode: box
    max_move_distance_gate:
      name: max move distance gate
      mode: box
    max_still_distance_gate:
      name: max still distance gate
      mode: box
    light_threshold:
      name: light threshold
      mode: box
{% for i in range(num_zones) %}
    g{{ i }}:
      move_threshold:
        name: g{{ i }} move threshold
        id: ld2410_g{{ i }}_move_threshold
        mode: box
      still_threshold:
        name: g{{ i }} still threshold
        id: ld2410_g{{ i }}_still_threshold
        mode: box
{% endfor %}
  - platform: template
    name: "Still Target Delay"
    id: still_target_delay
    min_value: 0
    max_value: 150
    step: 1
    initial_value: 0
    mode: box
    optimistic: True
    restore_value: True
    on_value:
      then:
        - if:
            condition:
              script.is_running: countdown_start
            then:
              - script.execute: countdown_start

text_sensor:
  - platform: ld2410
    version:
      name: "Presence sensor version"
    mac_address:
      name: "Presence sensor mac address"

switch:
  - platform: template
    name: "Auto Calibrate"
    optimistic: True
    restore_mode: RESTORE_DEFAULT_OFF
  - platform: ld2410
    bluetooth:
      name: "control Bluetooth"

    engineering_mode:
      name: "engineering mode"
      id: "engineering_mode"
      restore_mode: RESTORE_DEFAULT_OFF

sensor:
  - platform: ld2410
    moving_distance:
      name: "Moving distance (cm)"
      disabled_by_default: True
    still_distance:
      name: "Still Distance (cm)"
      disabled_by_default: True
    moving_energy:
      name: "Move Energy (%)"
      disabled_by_default: True
    still_energy:
      name: "Still Energy (%)"
      disabled_by_default: True
    detection_distance:
      name: "Distance Detection (cm)"
      disabled_by_default: True
    light:
      name: light
{% for i in range(num_zones) %}
    g{{ i }}:
      move_energy:
        name: g{{ i }} move energy
        id: ld2410_g{{ i }}_move_energy
        filters:
          - filter_out: nan
      still_energy:
        name: g{{ i }} still energy
        id: ld2410_g{{ i }}_still_energy
        filters:
          - filter_out: nan
{% endfor %}
  - platform: uptime
    name: "Uptime Sensor"
    update_interval: 300s

  - platform: template
    name: "Occupancy Timeout"
    id: occupancy_timeout
    unit_of_measurement: "s"
    accuracy_decimals: 0
    lambda: return id(occupancy_timeout_value);
    update_interval: 1s

binary_sensor:
  - platform: ld2410
    has_target:
      name: Presence
      id: has_target
      on_state:
        then:
          if:
            condition:
              and:
                - binary_sensor.is_off: has_target
                - binary_sensor.is_on: smart_presence
            then:
              - lambda: id(smart_presence_unfiltered).publish_state(false);
              - script.execute: countdown_start

    has_moving_target:
      name: Moving Target
      id: has_moving_target
      on_press:
        then:
          if:
            condition:
              binary_sensor.is_on: has_moving_target
            then:
              - lambda: |-
                  id(smart_presence_unfiltered).publish_state(true);
                  id(smart_presence).publish_state(true);
                  id(countdown_stop).execute();

    has_still_target:
      name: Still Target
      id: has_still_target
      on_state:
        then:
           - if:
              condition:
                and:
                  - binary_sensor.is_on: smart_presence
                  - binary_sensor.is_on: has_still_target
              then:
                - script.execute: countdown_stop

  - platform: template
    name: Smart Presence
    id: smart_presence
    device_class: motion
    trigger_on_initial_state: True
    lambda: return ((int)(id(occupancy_timeout_value)) > 0);

  - platform: template
    name: Smart Presence Unfiltered
    id: smart_presence_unfiltered
    device_class: motion
    trigger_on_initial_state: True

script:
  - id: "manual_clear"
    mode: restart
    then:
      - lambda: |-
          id(smart_presence_unfiltered).publish_state(false);
          id(smart_presence).publish_state(false);
          id(occupancy_timeout_value) = 0;
      - script.stop: countdown_start

  - id: "countdown_stop"
    then:
        - lambda: |-
            int delay = int(id(still_target_delay).state);
            id(occupancy_timeout_value) = delay;
        - script.stop: countdown_start

  - id: "countdown_start"
    mode: restart
    then:
      - lambda: id(occupancy_timeout_value) = int(id(still_target_delay).state);
      - repeat:
          count: !lambda "return id(still_target_delay).state;"
          then:
            - delay: 1s
            - lambda: id(occupancy_timeout_value)--;
      - script.execute: manual_clear